textarea {
  display: block;
}
.container {
  max-width: 992px;
  margin: 0 auto;
  background: yellow;
}
.pinupSide {
  background: #045;
  width: 50%;
  height: 200px;
  float: left;
}
.cipherSide {
  width: 50%;
  float: left;
}

/* MEDIA QUERIES
---------------------------------------------- */
@media (max-width: 576px) {
  .pinupSide {
    display: none;
  }
}
